.index-page {
    &__wrapper {
        width: 1440px;
        height: 1000px;
    }

    &__page-wrapper {
        background-image: url('@/assets/background.png');
        width: 1440px;
        height: 800px;
    }

    &__info {
        width: 1200px;
        display: flex;
        justify-content: space-around;
        margin-left: 100px;
    }

    &__info-container {
        width: 480px;
        height: 290px;
    }

    &__info-purple {
        color: #685ED6
    }

    &__info-pic {
        width: 700px;
        height: 580px;
    }

    &__info-header {
        margin-top: 30px;
        font-family: Gilroy;
        font-size: 50px;
        font-weight: 800;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;

    }

    &__info-text {
        margin-top: 20px;
        font-family: Gilroy;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
    }

    &__footer {
        position: sticky;
    }

    &__about-wrapper {
        width: 1440px;
        height: 600px;
        background-color: #F2F7FF80;
    }

    &__about-container { 
        width: 1000px;
        display: flex;
        justify-content: space-between;
        margin-left: 200px;
    }

    &__about-info {
        background-color: #5ed6a8;
        width: 400px;
        height: 500px;
    }

    &__about-pic {
        width: 320px;
        height: 500px;
    }

    &__tarif-wrapper {
        width: 1440px;
        height: 600px;
    }

    &__tarif-header {
        font-family: Gilroy;
        font-size: 46px;
        font-weight: 800;
        line-height: 64px;
        letter-spacing: 0em;
        text-align: center;
    }

    &__tarif-subheader {
        margin-top: 20px;
        font-family: Gilroy;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
    }

    &__tarif-container {
        width: 1100px;
        margin-left: 170px;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__steps-wrapper {
        width: 1440px;
        height: 900px;
    }

    &__steps-header {
        font-family: Gilroy;
        font-size: 46px;
        font-weight: 800;
        line-height: 64px;
        letter-spacing: 0em;
        text-align: center;

    }

    &__steps-container {
        width: 1100px;
        height: 350px;
        background-image: url('@/assets/lines.png');
        background-repeat: no-repeat;
        margin-left: 150px;
        margin-top: 40px;
        display: flex;
    }

    &__step-item1 {
        margin-top: 10px;
    }

    &__step-item2 {
        margin-left: 180px;
        margin-top: 70px;
    }

    &__step-item3 {
        margin-left: 180px;
        margin-top: 25px;
    }

    &__phones-container {
        background-image: url('@/assets/spots.png');
        width: 1440px;
        height: 500px;
        display: flex;
    }

    &__step-phone {
        height: 460px;
        width: 220px;
    }

    &__step-phone1 {
        margin-left: 160px;
        margin-top: -130px;
    }

    &__step-phone2 {
        margin-left: 220px;
        margin-top: -70px;
    }

    &__step-phone3 {
        margin-left: 210px;
        margin-top: -120px;
    }

}