.header__wrapper {
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}


.header__logo {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0.065em;
    text-align: left;
    padding-left: 150px;
    text-align: start;

}

.header__violet {
    color: #5360FE;
}

.header__menu {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.header__menu-item {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #7D8797;

}

.header__button-container {
    padding-right: 150px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.header__select {
    width: 25px;
    height: 25px;
    position: relative;
    background-color: #EEF7FE;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    line-height: 24px;

}

.header__select-dropdown {
    height: 160px;
    width: 150px;
    border-radius: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EEF7FE;
    position: absolute;
    top: 25px;
    left: 0px;
}

.header__select-item {
    height: 40px;
    line-height: 40px;
}

.last {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.first {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.header__select-item:hover {
    background-color: #E3E4E6;
}

.header__button {
    height: 25px;
    width: 150px;
    border-radius: 25px;
    background-color: #5360FE;
    border: none;
    color: white;
}
