.main__wrapper {
    background-color: #EEEFF1;
}

.header__wrapper {
    display: flex;
    width: 1000px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    justify-content:space-between;
    align-items: center;
}

.header__icon {
    font-family: Revalia;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: #34547A;
}

.header__menu {
    display: flex;
    width: 610px;
    height: 16px;
    justify-content:space-between;
}

.header__menu-item {
    border: none;
    background: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #34547A;
    text-transform: uppercase;
}


.main-info__wrapper {
    width: 1200px;
}

.main-info__container {
    padding-top: 160px;
    padding-bottom: 180px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.main-info__info {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}

.main-info__button {
    width: 225px;
    height: 65px;
    background-color: #34547A;
    border: none;
    color: white;
    margin-top: 60px;
}

.main-info__header {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 500;
    line-height: 79px;
    letter-spacing: 0em;
    text-align: left;
}

.main-info__text {
    margin-top: 60px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #727272;
}

.about__container {
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
}

.about__info {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 550px;
    height: 100px;
}

.about__header {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 50px;
}

.about__text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}

.about__projects {
    width: 1200px;
    height: 250px;
    background-color: #34547A;
}

.about__item {
    width: 150px;
    display: flex;
    padding-top: 100px;
    
}

.about__icon-text {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    color: white;
    text-align: center;
}

.about__container-projects {
    width: 810px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.skills__wrapper {
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.skills__picture {
    width: 450px;
    height: 350px;
    padding-right: 150px;
    padding-top: 100px;
}

.skills__info {
    width: 450px;
    height: 350px;
    padding-left: 150px; 
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
}

.skills__header {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 100px;
}

.skills__item {
    padding-bottom: 20px;
}

.first {
    padding-top: 20px;
}

.skills__rectangle {
    height: 4px;
    width: 350px;
    background-color: #34547A;
}

.skills__text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 20px;
}

.work__wrapper {
    width: 1200px;
    height: 800px;
    background-color: #EEEFF1;
}

.work__header {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 100px;

}

.work__text {
    width: 540px;
    height: 70px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #727272;
    padding-left: 330px;
    padding-top: 50px;

}

.work__video {
    position: relative;
}

.work__picture {
    width: 800px;
    height: 400px;
    padding-left: 200px;
    padding-top: 60px;
}

.work__icon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 47%;
    top: 45%;
}

.pictures__wrapper {
    width: 1200px;
    height: 600px;
    position: relative;
}

.pictures__item {
    width: 295px;
    height: 295px;
}

.blurred {
    filter: opacity(0.6) drop-shadow(0 0 blue);
}

.pictures__icon {
    position: absolute;
    left: 33%;
    top: 15%;
}

.clients__wrapper {
    width: 1200px;
    height: 300px;
}

.clients__container {
    width: 1100px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

.form__container {
    width: 1200px;
    height: 800px;
    background-color: #EEEFF1;
}

.form__info {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
}

.form__header {
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 100px;
}

.form__text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #727272;
    padding-top: 50px;
}

.form__form-container {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__upper-fields {
    width: 540px;
    display: flex;
    justify-content: space-between;
}

.form__field {
    width: 255px;
    height: 50px;
    border: none;
}

.form__message {
    width: 534px;
    height: 175px;
    margin-top: 20px;
    border: none;
    margin-bottom: 50px;
}

.form__button {
    background-color: #34547A;
    color: white;
    width: 190px;
    height: 55px;
}