.footer {
    &__wrapper {
        height: 660px;
    }

    &__subscribe-container {
        height: 136px;
        width: 1440px;
        background-color: #EDE8E1;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__subscribe-header {
        height: 48px;
        width: 197px;
        color: #877F72;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }

    &__subscribe-field {
        height: 48px;
        width: 600px;
        border-radius: 45px;
        border: none;
        outline: none;

        &::placeholder {
            color: #B4AFA8;
            padding-left: 30px;
        }

        &:focus {
            padding-left: 50px;

            &::placeholder {
                color: transparent;
            }
        }

        
    }

    &__subscribe-button {
        margin-right: 100px;
    }

    &__upper-container {
        height: 180px;
        display: flex;
    }

    &__upper-item {
        height: 104px;
        width: 630px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    &__upper-columns {
        display: flex;
        margin-top: 16px;
    }

    &__item-subheader {
        font-family: Gilroy;
        font-size: 10px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #B4AFA8;
    }

    &__item-column {
        width: 197px;
        height: 64px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item-phone {
        font-family: Gilroy;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
    }

    &__item-email {
        font-family: Gilroy;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
    }

    &__item-time {
        font-family: Gilroy;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 5px;
    }

    &__middle-container {
        width: 1280px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        border-top: solid 1px #B4AFA8;
    }

    &__container-item {
        width: 200px;
        margin-top: 30px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
    }

    &__container-long {
        width: 250px;
    }

    &__item-link {
        margin-top: 10px;
        text-decoration: none;
        color: #403D38;
        font-family: Gilroy;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
    }

    &__social-container {
        width: 1280px;
        height: 72px;
        border-bottom: solid 1px #B4AFA8;
        margin-left: auto;
        margin-right: auto;
    }

    &__logos-container {
        width: 128px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__down-container {
        width: 1280px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    &__down-text {
        font-family: Gilroy;
        font-size: 10px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #B4AFA8;

    }

    &__down-logos {
        width: 258px;
        height: 12px;
        display: flex;
        justify-content: space-between;
    }

}