.tariff {
    &__wrapper {
        width: 350px;
        height: 380px;
        background: #FCFEFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
    }

    &__price {
        font-family: Gilroy;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 40px;

    }

    &__start-price {
        font-family: Gilroy;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        margin-top: 30px;

    }

    &__button {
        margin-top: 50px;
        margin-left: 32px;
    }
}