.card {
    &__wrapper {
        height: 380px;
        width: 305px;
        border-radius: 0px;

        .card__active-visible {
            display: none;
        }

        &:active {
            height: 500px;
            box-shadow: 0px 0px 10px 1px #EDE8E1;

            .card__active-visible {
                margin-top: 16px;
                height: 130px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

    }

    &__active-button {
        background-color: #BC8F8F;
        height: 52px;
        width: 270px;
        border-radius: 42px;
        padding: 6px 24px 6px 24px;
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    &__active-header {
        font-family: Gilroy;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #403D38;
        text-transform: uppercase;
        margin-left: 20px;
    }

    &__card-header {
        font-family: Gilroy;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 20px;
    }

    &__card-price {
        font-family: Gilroy;
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 20px;
    }

    &__card-pic {
        margin-left: 25px;
    }

    &__card-text {
        text-transform: uppercase;
        color: white;
        opacity: 60%;
    }

    &__active-sizes {
        display: flex;
        width: 180px;
        justify-content: space-between;
        margin-left: 20px;
    }
}