.header__wrapper {
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}


.header__logo {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0.065em;
    text-align: left;
    padding-left: 150px;
    text-align: start;

}

.header__violet {
    color: #5360FE;
}

.header__menu {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.header__menu-item {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #7D8797;

}

.header__button-container {
    padding-right: 150px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.header__select {
    width: 25px;
    height: 25px;
    position: relative;
    background-color: #EEF7FE;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    line-height: 24px;

}

.header__select-dropdown {
    height: 160px;
    width: 150px;
    border-radius: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EEF7FE;
    position: absolute;
    top: 25px;
    left: 0px;
}

.header__select-item {
    height: 40px;
    line-height: 40px;
}

.last {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.first {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.header__select-item:hover {
    background-color: #E3E4E6;
}

.header__button {
    height: 25px;
    width: 150px;
    border-radius: 25px;
    background-color: #5360FE;
    border: none;
    color: white;
}

.content__container {
    overflow:hidden;
}

.page__wrapper {
    position: relative;
    width: 1400px;
    height: 1000px;
    margin-top: -50px;
    background-image: url(background12.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.page__smartphone {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 550px;
    height: 450px;
}

.page__info-container {
    position: absolute;
    top: 140px;
    left: 200px;
    width: 400px
}

.page__info-header {
    font-family: Nunito;
    font-size: 32px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    height: 90px;
}

.page__info-text {
    margin-top: 30px;
}

.page__buttons-container {
    width: 400px;
    margin-top: 40px;
    display: flex;
}

.page__cost {
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 35px;
    background-color: #5360FE;
    color: white;

}

.page__promo {
    height: 50px;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.page__promo-text {
    padding-left: 10px;
}

.page__gamepad {
    position: absolute;
    left: 100px;
    top: 600px;
    width: 600px;
    height: 400px;
}

.page__activity-container {
    position: absolute;
    top: 640px;
    right: 250px;
    width: 400px;
    height: 400px;
}

.page__activity-header {
    font-family: Nunito;
    font-size: 32px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    height: 50px;
    text-align: left;
}

.page__activity-text {
    margin-top: 30px;
}

.page__activity-points {
    margin-top: 40px;
}

.page__activity-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.page__activity-icon {
    width: 50px;
    height: 50px;
    margin-left: -10px;
}

.games__wrapper {
    margin-left: 300px;
    margin-top: 130px;
    width: 1400px;
}

.games__header {
    height: 50px;
    width: 627px;
    font-family: Nunito;
    font-size: 32px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
}

.games__subheader {
    height: 30px;
    width: 822px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}

.games__slider {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.games__slider-item {
    filter: opacity(0.4) grayscale(100%);
}

.games__slider-item:hover {
    filter: opacity(1) grayscale(0%);
}

.games__slide-background {
    height: 470px;
    width: 250px;
    border-radius: 16px;
    border: 1px solid #E0E0E0;
    position: relative;
}

.games__slide-picture {
    width: 200px;
    position: absolute;
    top: 40px;
    left: 25px;
    right: 25px;
}

.games__slide-name {
    position: absolute;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    top: 300px;
    margin-top: 25px;
    margin-left: 20px;
    width: 200px;
    height: 50px;
    color: #04035F;
}

.games__slide-info {
    position: absolute;
    top: 400px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
    color: #A8A8A8;
}

.games__slide-between {
    padding-right: 25px;
    height: 35px;
}

.work__wrapper {
    width: 1200px;
    height: 1000px;
    margin-top: 180px;
    margin-left: 300px;
}

.work__header {
    height: 50px;
    width: 627px;
    font-family: Nunito;
    font-size: 32px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
}

.work__cards-wrapper {
    width: 850px;
    display: grid;
    
}

.work__card-item {
    height: 250px;
    width: 400px;
    border-radius: 16px;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid #E0E0E0;
    margin-top: 20px;
    filter: opacity(0.4) grayscale(100%);

}

.work__card-item:hover {
    filter: opacity(1) grayscale(0%);
}

.work__card-header {
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 20px;

}

.work__card-icon {
    padding-top: 20px;
    padding-left: 20px;
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 2;
    grid-row: 1;
}

.three {
    grid-column: 1;
    grid-row: 2;
}

.four {
    grid-column: 2;
    grid-row: 2;
}

.work__card-text {
    padding-left: 20px;
    color: #7D8797;
}