.header {
    &__wrapper {
        width: 1440px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-container {
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 160px;
    }

    &__menu-container_logged {
        width: 540px;
        display: flex;
        justify-content: space-between;
        margin-right: 160px;
        visibility: hidden;
    }

    &__menu-item {
        font-family: Gilroy;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        color: #1D2530;

    }
}